<head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>


<script>
    $(document).ready(function(){
      $('.slider').bxSlider({
        controls: false,
        auto: true,
        autoHover: true,
        pause: 3000,
        touchEnabled: false
      });
    });
</script>
</head>
<body>
<div class="slider">
  <div><img width="100%" src="https://ounodoukutsu.jp/shop_gunpla/html/template/default/assets/img/common/banner11.jpg" alt="10％OFF" ></div>
  <div><img width="100%" src="https://ounodoukutsu.jp/shop_gunpla/html/template/default/assets/img/common/banner01.jpg" alt="ガンプラ見つかります" ></div>
  <div><a target="_blank" href="https://ounodoukutsu.jp/shop_gunpla/guide"><img width="100%" src="https://ounodoukutsu.jp/shop_gunpla/html/template/default/assets/img/common/banner03.jpg" alt="ガンプラ買取サイト" ></a></div>
  <div><a target="_blank" href="https://ounodoukutsu.jp/g_pla/"><img width="100%" src="https://ounodoukutsu.jp/shop_gunpla/html/template/default/assets/img/common/banner02.jpg" alt="お買い物ガイド" ></a></div>
</div>
</body>
